/* Mariah Jacobs */
/* Homework 2    */
/* SI 539-001    */

body{
  font-family: "Lucida Grande", sans-serif;
  color: white;
  background-color: black;
}

h1{
  text-align: center;
  font-size: 64px;
}

h2 {
  font-size: 32px;
  text-shadow: 4px 4px 2px black;
}

p{
  font-size: 16px;
  padding-top: 15px;
}

img{
  display: block;
  margin: auto;
  width: 550px;

  /*Although not specified in assignment, the given sample image of the page has some space between the 
  heading and image that seems unaccounted for.*/
  padding-top: 10px; 
}

div {
  min-height: 100px;
  padding: 30px;
}

#red {
  background-color: red;
  text-align: right;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#yellow {
  background-color: yellow;
  text-align: right;
  color: black
}

#yellow h2 {
  text-shadow: 4px 4px 2px grey;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 15px;
}
